<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.yjagsapps.jobssynd" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.android.yjagsapps.jobssynd.StartActivity"
            android:label="@string/title_activity_start" >
        </activity>

        <activity
            android:name="com.android.yjagsapps.jobssynd.SOSearchActivity"
            android:label="@string/title_activity_sosearch" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity
            android:name="com.android.yjagsapps.jobssynd.SOCareersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_socareers" >
        </activity>

        <activity
            android:name="com.android.yjagsapps.jobssynd.SoCareersDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_socareersdetails">
        </activity>

    </application>

</manifest>
